__pycache__/
*.pyc
*.pyo
*.db
*.sqlite
*.sqlite3
data/
repos/Compose-File/
backend/repos/*
!backend/repos/Compose-File
backend/scripts/*
backend/backup/*
backend/logs/*
!backend/logs/.gitkeep
backend/image/*
!backend/image/.gitkeep
node_modules/
.env
*.log
.DS_Store
Thumbs.db
*.egg-info/
dist/
build/
.venv/
venv/
env/
